<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TicketNow</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div class="hero">
        <nav>
            <h2 class="logo">Ticket<span>Now</span></h2>
            <ul class="navwords">
                <li><a asp-controller="Home" asp-action="ReserveTicket">Events</a></li>
                @if (Context.Session.GetString("UserRole") != null)
                {
                    <li><a asp-controller="User" asp-action="Logout">Logout</a></li>
                }
                else
                {
                    <li><a asp-controller="User" asp-action="Register">Register</a></li>
                    <li><a asp-controller="User" asp-action="sign_in">Login</a></li>
                }
            </ul>
        </nav>

        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
